<html>
  <head>
    <meta charset="utf-8" />
    <title>The Queen Bee</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/page2">page 2</a></li>
        <li><a href="/page3">page 3</a></li>
      </ul>
    </nav>
    <h1>
      The Queen Bee -
      <a href="https://www.cs.cmu.edu/~spok/grimmtmp/">A Grimm Fairy Tale</a>
    </h1>
    <br />
    <p>
      Two kings' sons once went out in search of adventures, and fell into a
      wild, disorderly way of living, so that they never came home again. The
      youngest, who was called simpleton, set out to seek his brothers, but when
      at length he found them they mocked him for thinking that he with his
      simplicity could get through the world, when they two could not make their
      way, and yet were so much cleverer.
    </p>
    <br />
    <p>
      They all three traveled away together, and came to an ant-hill. The two
      elder wanted to destroy it, to see the little ants creeping about in their
      terror, and carrying their eggs away, but simpleton said, leave the
      creatures in peace, I will not allow you to disturb them.
    </p>
    <br />
    <p>
      Then they went onwards and came to a lake, on which a great number of
      ducks were swimming. The two brothers wanted to catch a couple and roast
      them, but simpleton would not permit it, and said, leave the creatures in
      peace, I will not suffer you to kill them.
    </p>
    <br />
    <p>
      At length they came to a bee's nest, in which there was so much honey that
      it ran out of the trunk of the tree where it was. The two wanted to make a
      fire beneath the tree, and suffocate the bees in order to take away the
      honey, but simpleton again stopped them and said, leave the creatures in
      peace, I will not allow you to burn them.
    </p>
  </body>
</html>
