<html>
    <head>
        <meta charset="utf-8">
        <title>The Queen Bee </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/page1">Page 1</a></li>
                <li><a href="/page3">Page 3</a></li>
            </ul>
        </nav>
        <h1>The Queen Bee - <a href= "https://www.cs.cmu.edu/~spok/grimmtmp/">A Grimm Fairy Tale</a></h1>
        <br>
        <p>At length the three brothers arrived at a castle where stone horses
            were standing in the stables, and no human being was to be seen, and
            they went through all the halls until, quite at the end, they came to
            a door in which were three locks.  In the middle of the door,
            however, there was a little pane, through which they could see into
            the room.  There they saw a little grey man, who was sitting at a
            table.  They called him, once, twice, but he did not hear, at last
            they called him for the third time, when he got up, opened the locks,
            and came out.  He said nothing, however, but conducted them to a
            handsomely-spread table, and when they had eaten and drunk, he took
            each of them to a bedroom.</p>
            <br>
            <p>Next morning the little grey man came to the eldest, beckoned to him,
            and conducted him to a stone table, on which were inscribed three
            tasks, by the performance of which the castle could be delivered from
            enchantment.</p>
            <br>
            <p>The first was that in the forest, beneath the moss, lay the
            princess's pearls, a thousand in number, which must be picked up, and
            if by sunset one single pearl was missing, he who had looked for them
            would be turned into stone.  The eldest went thither, and sought the
            whole day, but when it came to an end, he had only found one hundred,
            and what was written on the table came true, and he was turned into
            stone. Next day, the second brother undertook the adventure, but it
            did not fare much better with him than with the eldest, he did not
            find more than two hundred pearls, and was changed to stone.  At last
            it was simpleton's turn to seek in the moss, but it was so difficult
            for him to find the pearls, and he got on so slowly, that he seated
            himself on a stone, and wept.  And while he was thus sitting, the
            king of the ants whose life he had once saved, came with five
            thousand ants, and before long the little creatures had got all the
            pearls together, and laid them in a heap.
            </p>
    </body>
</html>