<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Queen Bee</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" />
</head>
  </head>
  <body>
    <h1>The Queen Bee</h1>
    <p>A Grimm Fairy Tale...</p>
    <ul>
      <li><a href="/page1">page 2</a></li>
      <li><a href="/page2">page 2</a></li>
      <li><a href="/page3">page 3</a></li>
    </ul>
  </body>
</html>
