<html>
    <head>
        <meta charset="utf-8">
        <title>The Queen Bee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/page1">Page 1</a><li>
                <li><a href="/page2">Page 2</a></li>
            </ul>
        </nav>
        <h1>The Queen Bee - <a href= "https://www.cs.cmu.edu/~spok/grimmtmp/">A Grimm Fairy Tale</a></h1>
        <br>
        <p>The second task, however, was to fetch out of the lake the key of the
            king's daughter's bed-chamber.  When simpleton came to the lake, the
            ducks which he had saved, swam up to him, dived down, and brought the
            key out of the water.</p>
            <br>
            <p>But the third task was the most difficult, from amongst the three
            sleeping daughters of the king was the youngest and dearest to be
            sought out.  They, however, resembled each other exactly, and were
            only to be distinguished by their having eaten different sweetmeats
            before they fell asleep, the eldest a bit of sugar, the second a
            little syrup, and the youngest a spoonful of honey.</p>
            </br>
            <p>Then the queen of the bees, whom simpleton had protected from the
            fire, came and tasted the lips of all three, and at last she remained
            sitting on the mouth which had eaten honey, and thus the king's son
            recognized the right princess.  Then the enchantment was at an end,
            everything was delivered from sleep, and those who had been turned to
            stone received once more their natural forms.</p>
            </br>
            <p>Simpleton married the youngest and sweetest princess, and after her
            father's death became king, and his two brothers received the two
            other sisters.</p>
    </body>
</html>